<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello!</title>
</head>
<body>
<div class="p-3 mb-2 bg-secondary text-white"><h1>Hello, dear friend!</h1></div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="https://z-faberlic.com.ua/images/z-news/cabinet-enter.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <p class="card-text">If you want to enter the system, please, click the bottom!</p>
                    <a href="/login" class="btn btn-primary">Click</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="https://get.pxhere.com/photo/laptop-technology-design-electronic-device-finger-stock-photography-photography-hand-gesture-gadget-electronics-personal-computer-graphic-design-website-office-equipment-learning-1522939.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Create account</h5>
                    <p class="card-text">If you want to create new user, please, click the bottom!</p>
                    <a href="/signUp" class="btn btn-primary">Click!</a>
                </div>
            </div>
        </div>


    </div>
</div>

    <!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</body>
</html>