<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>
<div class="p-3 mb-2 bg-secondary text-white">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light" href="/home" role="button">Home</a>
    </div>
    <h1>Please, choose the way!</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="https://cdn.fishki.net/upload/post/201508/17/1632328/2_07.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The weather</h5>
                    <p class="card-text">If you want to know today weather and choose suitable clothes, click the
                        bottom!</p>
                    <a href="/today-weather" class="btn btn-primary">Today weather</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="https://pics.legkomarket.ru/upload/iblock/9fd/9fd8d3146bf82c4b2b0e380af490b800.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">All wardrobe</h5>
                    <p class="card-text">If you want to watch all your clothes or clothes by seasons, click the bottom!</p>
                    <a href="/wardrobe" class="btn btn-primary">All clothes</a>
                    <a class="btn btn-primary" href="/wardrobe/demi" role="button">Demi</a>
                    <a class="btn btn-primary" href="/wardrobe/winter" role="button">Winter</a>
                    <a class="btn btn-primary" href="/wardrobe/summer" role="button">Summer</a>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>