<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Please Sign up!</title>
</head>
<body>
<h1>Please Sign up!</h1>
<div>
    <form method="post" action="/signUp">
        <input type="text" name="name" placeholder="Name"/>
        <br>
        <div>
            <input type="text" name="login" placeholder="Login"/>
        </div>
        <br>
        <div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <br>
        <label for="remember-me">
            <input type="checkbox" id="remember-me" name="remember-me">Запомнить меня</label>
        <br>
        <input type="submit" value="Sign up"/>
</div>
</form>
</body>
</html>