<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Winter clothes</title>
</head>
<body>

<div class="p-3 mb-2 bg-secondary text-white">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light" href="/home" role="button">Home</a>
    </div>
    <h1>Winter clothes</h1>
</div>


<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <h5 class="card-title">
        <span>Погода зимнего сезона варьируется от -6 до -45</span>
    </h5>
</div>


<div th:switch="${wardrobe}">
    <h2 th:case="null">No clothes found!</h2>
    <div th:case="*">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Stuff</th>
                <th scope="col">Type</th>
                <th scope="col">Style</th>
                <th scope="col">Season</th>
                <th scope="col">Photo</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="wardrobe : ${wardrobe}">
                <td th:text="${wardrobe.id}"></td>
                <td th:text="${wardrobe.stuff}"></td>
                <td th:text="${wardrobe.type}"></td>
                <td th:text="${wardrobe.style}"></td>
                <td th:text="${wardrobe.season}"></td>
                <!--                <td th:text="${wardrobe.photo}"></td>-->
                <!--                <img th:src="@{wardrobe.photo}"/>-->
                <td><img src="" th:text="${wardrobe.url}" class="img-fluid"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>
</html>